*.sqlite3
celerybeat-schedule
*.sqlite
*.pyc
*__pycache__*
media/
venv/
menv/
frontend-dist/
frontend-single-site-dist/
*.egg-info*
static/
dist/
django_static/
uploads-temp/
uploads/
