@import url('~@jupyterlab/theme-light-extension/style/theme.css');

#main {
  position: absolute;
  inset: 0;
  background-color: var(--jp-layout-color0);
}

.mercury-panel-toolbar {
  height: 56px;
  background-color: black;
}

.mercury-loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mercury-loader-label {
  color: var(--jp-ui-font-color0);
  font-size: var(--jp-ui-font-size2);
  font-family: var(--jp-ui-font-family);
}

.mercury-loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--jp-inverse-layout-color4);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.mercury-loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #2684ff transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 