</br>
<hr/>

<footer class="sl-container sl-prose sl-text-center sl-pt-12 sl-pb-16 sl-text-sm">
  <p>© 2025 Mercury • Built to help you share discoveries - from simple insights to breakthroughs 💙</p>
  <p>
    <a href="https://github.com/mljar/mercury" target="_blank">Mercury</a> ·
    <a href="https://mljar.com/studio/" target="_blank">MLJAR Studio</a>
  </p>
</footer>
