.docs-image{
    display: block;
    margin: 1rem auto;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.25);
    max-width: 90%
}


:root[data-theme='light'] {
  --sl-color-text-accent: #007bff;
}

:root {
  --sl-color-text-accent: #4da3ff;
}

.site-title {
  font-weight: 900;
}